<h2>Primary and accent</h2>
<div class="button-container">
    <button class="color-btn one">get started</button>
    <button class="color-btn two">get started</button>
    <button class="color-btn three">get started</button>
</div>

<div class="colors-container">
    <h2>Primary</h2>
    <div class="row primary">
        <div class="b950 box">950</div>
        <div class="b900 box">900</div>
        <div class="b800 box">800</div>
        <div class="b700 box">700</div>
        <div class="b600 box">600</div>
        <div class="b500 box">Base</div>
        <div class="b400 box">400</div>
        <div class="b300 box">300</div>
        <div class="b200 box">200</div>
        <div class="b100 box">100</div>
        <div class="b50 box">50</div>
    </div>
    <h2>Grey</h2>
    <div class="row grey">
        <div class="b950 box">950</div>
        <div class="b900 box">900</div>
        <div class="b800 box">800</div>
        <div class="b700 box">700</div>
        <div class="b600 box">600</div>
        <div class="b500 box">Base</div>
        <div class="b400 box">400</div>
        <div class="b300 box">300</div>
        <div class="b200 box">200</div>
        <div class="b100 box">100</div>
        <div class="b50 box">50</div>
    </div>
    <h2>Accents</h2>
    <div class="row accent">
        <div class="b950 box">950</div>
        <div class="b900 box">900</div>
        <div class="b800 box">800</div>
        <div class="b700 box">700</div>
        <div class="b600 box">600</div>
        <div class="b500 box">Base</div>
        <div class="b400 box">400</div>
        <div class="b300 box">300</div>
        <div class="b200 box">200</div>
        <div class="b100 box">100</div>
        <div class="b50 box">50</div>
    </div>
    <div class="row accent">
        <div class="b950 box">950</div>
        <div class="b900 box">900</div>
        <div class="b800 box">800</div>
        <div class="b700 box">700</div>
        <div class="b600 box">600</div>
        <div class="b500 box">Base</div>
        <div class="b400 box">400</div>
        <div class="b300 box">300</div>
        <div class="b200 box">200</div>
        <div class="b100 box">100</div>
        <div class="b50 box">50</div>
    </div>
    <div class="row accent">
        <div class="b950 box">950</div>
        <div class="b900 box">900</div>
        <div class="b800 box">800</div>
        <div class="b700 box">700</div>
        <div class="b600 box">600</div>
        <div class="b500 box">Base</div>
        <div class="b400 box">400</div>
        <div class="b300 box">300</div>
        <div class="b200 box">200</div>
        <div class="b100 box">100</div>
        <div class="b50 box">50</div>
    </div>
</div>

