<!-- <div class="flex-container">
    <div class="flex-item one">one</div>
    <div class="flex-item two">two</div>
    <div class="flex-item three">three</div>
    <div class="flex-item four">four</div>
    <div class="flex-item five">five</div>
    <div class="flex-item six">six</div>
</div> -->

<div class="cards">
 <div class="card">
    <div class="card__content">
      <p>This card doesn't have much content.</p>
    </div>
    <footer>Card footer</footer>
  </div>
   <div class="card">
    <div class="card__content">
      <p>This card doesn't have much content.</p>
    </div>
    <footer>Card footer</footer>
  </div>
   <div class="card">
    <div class="card__content">
      <p>This card doesn't have much content.</p>
    </div>
    <footer>Card footer</footer>
  </div>
</div>